body {
    background-color: #d3e7f1; /* azul claro */
}

.navbar {
    background-color: #1d4d9c; /* azul escuro */
}

h5, p {
    color: #052960; /* azul escuro nos textos principais */
}

h1, h2{
    color: #021229; /* azul escuro nos textos principais */
}

.titulo {
    color: #1d4d9c; /* Azul escuro */
}
.card {
    background-color: #ffffff; /* fundo branco dos cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #c3c4c4;
    color: #1d4d9c;
}

.dashboard-graphs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
